*{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(128, 236, 240);
    height: 500px;
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center;
    width: 600px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 5px 5px 5px 5px;
}

.container form{
    font-size: 20px;
    color: rgb(26, 26, 77);
    display: flex;
    flex-direction: column;    
    align-items: center;
    height: 100%;
    justify-content: space-around;
    padding: 0 20px 0 20px;
}

.input_field{
    outline: none;
    width: 100%;
    border: none;
    height: 40px;  
    border-radius: 6px;  
}

.register:hover{
    cursor: pointer;
}

.register:active{
    background: rgb(43, 43, 185);
    color: #fff;
}